{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block header %}
    <ul class="info">
        <li class="info-list logo"><a href="{% url 'main' %}" class="logo-link"><span class="historical">Store</span><br><span class="games">GAMES</span></a></li>
        <li class="info-list contact"><i class="fa fa-mobile" aria-hidden="true"></i><div class="tel">+000 000 0000</div><a class="mail" href="#">jony@mail.com</a></li>
    </ul>
{% endblock %}


{% block container %}
    <h1>{{ page_title|title }}</h1>

    {% block adminMenu %}
    <div class="admin-block">
        {% include 'includes/inc__admin_menu.html' %}
    </div>
    {% endblock %}

    <div class="admin-content">
        {% block contentList %}
            <div class="create-btn">
                <a href="{% url 'admin:user_create' %}" class="admin-create-btn">+ create new user</a>
            </div>
            {% for object in object_list %}
                <div class="admin-user-item {% if not object.is_active %}no-active{% endif %}">
                    <img src="/media/{{ object.avatar|default:'noname.jpg' }}" alt="avatar">
                    <div>{% if object.is_superuser %}<b>Admin</b>{% else %}User{% endif %}</div>
                    <div>{{ object.username }}</div>
                    <div>{{ object.email }}</div>
                    <div>{{ object.last_login }}</div>
                    <div class="admin-item-btn">
                        {% if object.is_active %}<a href="{% url 'admin:user_update' object.pk %}" class="btn-edit admin-btn-hover">edit</a>{% endif %}
                        <a href="{% url 'admin:user_delete' object.pk %}" class="btn-dell admin-btn-hover">{% if object.is_active %}dell{% else %}recover{% endif %}</a>
                    </div>
                </div>
            {% endfor %}
        {% endblock contentList %} 
    </div>
         
    <div class="edit-home">
            <a href="{% url 'main' %}" class="edit-home-btn">HOME</a>
    </div>
         
{% endblock container %}


{% block contact %}
{% endblock %}