<ul class="admin-menu">
    <li>
        <a href="#" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Users</a>
    </li>
    <li>
        <a href="#" class="{% if request.resolver_match.url_name == 'categories' %}active{% endif %}">Categories{% if categories.name %}: categories.name{% endif %}</a>
    </li>
    <li>
        <a href="#" class="{% if request.resolver_match.url_name == 'news' %}active{% endif %}">News{% if categories.name %}: categories.name{% endif %}</a>
    </li>
</ul>