<ul class="menu menu-contact">
    <li class="menu-list {% if request.resolver_match.url_name == 'main' %}menu-list-active{% endif %}">
        <a href="{% url 'main' %}" class="menu-link">
            Home
        </a>
    </li>
    <li class="menu-list {% if request.resolver_match.url_name == 'category' %}menu-list-active{% endif %}">
        <a href="{% url 'products:category' pk=0 %}" class="menu-link">
            Gallery
        </a>
    </li>
    <li class="menu-list {% if request.resolver_match.url_name == 'contact' %}menu-list-active{% endif %}">
        <a href="{% url 'contact' %}" class="menu-link">
            Contact Us
        </a>
    </li>
    <li class="menu-list auth-menu">
        <div class="menu-link-auth">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout' request.resolver_match.url_name %}" class="auth-logout-link">Logout</a>
                <a href="{% url 'auth:edit' %}" class="auth-logout-link auth-edit-btn">{{ user.first_name|default:user.username|title }}</a>
            {% else %}    
                <label for="modal">Login</label>    
            {% endif %}    
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="auth-logout-link auth-edit-btn">ADMIN</a>
            {% endif %}       
        </div>
    </li>
</ul>