<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Games</title>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="info">
                <li class="info-list logo"><a href="#" class="logo-link"><span class="historical">Historical</span><br><span class="games">GAMES</span></a></li>
                <li class="info-list contact"><i class="fa fa-mobile" aria-hidden="true"></i><div class="tel">+123 456 7890</div><a class="mail" href="#">info@example.com</a></li>
                <li class="info-list search"><input class="search-input" type="search" placeholder="Search"><a class="button-search" href="#"><img class="icon-search" src="img/search.png" alt=""></a></li>
            </ul>
            
            <ul class="menu clearfix">
                <li class="menu-list menu-list-active"><a href="product.html" class="menu-link">Home</a></li>
                <li class="menu-list"><a href="#" class="menu-link">About</a></li>
                <li class="menu-list"><a href="#" class="menu-link">Services</a></li>
                <li class="menu-list"><a href="products.html" class="menu-link">Gallery</a></li>
                <li class="menu-list"><a href="#" class="menu-link">News</a></li>
                <li class="menu-list"><a href="#" class="menu-link">Team</a></li>
                <li class="menu-list"><a href="contact.html" class="menu-link">Contact Us</a></li>
            </ul>
            
            <div class="header-text">
                <p class="Nunc">Nunc eget nibh</p>
                <br><span class="text-line"></span>
                <h2 class="Morbi">Morbi in nisl auctor</h2>
            </div>
            
            <ul class="social">
                <li class="social-list"><a href="#" class="social-link fb"><img class="social-img" src="img/social-fb.png" alt="facebook"></a></li>
                <li class="social-list"><a href="#" class="social-link tw"><img class="social-img" src="img/social-tw.png" alt="twitter"></a></li>
                <li class="social-list"><a href="#" class="social-link rss"><img class="social-img" src="img/social-rss.png" alt="rss"></a></li>
                <li class="social-list"><a href="#" class="social-link vk"><img class="social-img" src="img/social-vk.png" alt="vk"></a></li>
            </ul>
        </div>
    </div>
    
    <div class="container">  
        <div class="about">
            <div class="about-text">
                <h2 class="about-h2">About Us!</h2>
                <p class="text-p nemo">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Ut&nbsp;enim ad&nbsp;minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut&nbsp;aliquid ex&nbsp;ea&nbsp;commodi consequatur?</p>
                <p class="text-p quis">Quis autem vel eum iure reprehenderit qui in&nbsp;ea&nbsp;voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>
            <div class="about-box">
                <img class="about-img" src="img/main-img-1.jpg" alt="img">
            </div>
        </div>  
    </div>
    
    <div class="container">
            <div class="services">
                <h2 class="services-text">Services</h2>
                <div class="services-flex">
                   <div class="col-text flex-col-1">
                        <div class="text-flex text-flex-1">
                            <p class="services-text-title services-text-active">Repreh Qui In Ea Voluptate</p>
                            <p class="services-text-content">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="text-flex text-flex-1">
                            <p class="services-text-title">Aut Perferendis Doloribus</p>
                            <p class="services-text-content">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="text-flex text-flex-1">
                            <p class="services-text-title">Maiores Alias Consequatur</p>
                            <p class="services-text-content">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                    </div>
                    <div class="col-pic flex-col-2">
                        <div class="pic pic-flex-col-1">
                            <img src="img/pic-fork.png" alt="fork">
                        </div>
                        <div class="pic pic-flex-col-1">
                            <img src="img/pic-dol.png" alt="">
                        </div>
                        <div class="pic pic-flex-col-1">
                            <img src="img/pic-diag.png" alt="">
                        </div>
                    </div>
                    <div class="col-pic flex-col-3">
                        <div class="pic pic-flex-col-2">
                            <img src="img/pic-arr.png" alt="">
                        </div>
                        <div class="pic pic-flex-col-2">
                            <img src="img/pic-hom.png" alt="">
                        </div>
                        <div class="pic pic-flex-col-2">
                            <img src="img/pic-set.png" alt="">
                        </div>
                    </div>
                    <div class="col-text flex-col-4">
                        <div class="text-flex text-flex-2">
                            <p class="services-text-title">Voluptatibus Maiores Alias</p>
                            <p class="services-text-content">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="text-flex text-flex-2">
                            <p class="services-text-title">Dut Aut Reiciendis Maiores</p>
                            <p class="services-text-content">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="text-flex text-flex-2">
                            <p class="services-text-title">Doloribus Volupta Maiores</p>
                            <p class="services-text-content">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        </div>
                    </div>
                </div>
            </div> 
    </div>   

    <div class="container">
        <div class="gallery gallery-main">
            <h2 class="gallery-text gallery-text-main">Our Gallery</h2>
            <div class="flex-gallery-row">
                <div class="flex-gallery-item">
                    <img src="img/assassin-game.jpg" alt="" class="flex-gallery-img gallery-activ">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">ASSASIN’S CREED: Rogue</p>
                       <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="img/tom-raider-game.jpg" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">TOMB RAIDER</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="img/ryse-game.jpg" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">RYSE: Son Of Rome</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="img/warcraft-game.jpg" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                        <p class="gallery-titel-bay">WORL OF WARCRAFT:<br>Wrath Of The Linch King</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="testimonial">
            <p class="testimonial-title">Testimonial</p>
            <img class="testimonial-img" src="img/quote.png" alt="quote">
            <div class="testimonial-slider">
                 <div>
                    <a class="testimonial-slider-arr slider-arr-left" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                 </div>
                <p class="testimonial-donec">Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed luctus orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum. Curabitur ex dolor, condimentum vitae nunc vel, pulvinar semper justo. Vestibulum et aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu viverra at, mattis et enim. Nam efficitur sem et lectus fringilla, at pharetra nulla luctus. Nunc cursus, augue ac ultricies volutpat, neque erat congue justo, ac pretium tellus eros a neque. Integer ipsum sem,<br> consectetur a mollis ac, cursus eu ipsum.</p>
                <div>
                    <a class="testimonial-slider-arr slider-arr-right" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                 </div>
            </div>
            <p class="testimonial-john"><span class="testimonial-john-span">JOHN SMITH</span> <span class="testimonial-founder-span">- FOUNDER</span></p>
        </div>
    </div>
    
    <div class="container">
        <div class="news">
            <div class="news-title">News & Events</div>
            <div class="news-flex">
               <div class="news-latest-blok">
                  <div class="news-latest-title-text">Latest News</div>
                  <div class="news-latest-blok-calendar-content">
                       <div class="news-latest-blok-calendar">
                           <div class="news-calendar-item-1"> 
                               <div class="news-data news-data-day">15</div>
                               <div class="news-data news-data-month">June</div>
                               <div class="news-data news-data-year">2016</div>
                            </div>
                           <div class="news-calendar-item-2">
                               <div class="news-calendar-title-text">Fugiat Quo Voluptas</div>
                               <div class="news-calendar-text-content">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</div>
                           </div>
                        </div>
                       <div class="news-latest-blok-calendar news-latest-blok-calendar-2">
                           <div class="news-calendar-item-1">
                               <div class="news-data news-data-day">18</div>
                               <div class="news-data news-data-month">June</div>
                               <div class="news-data news-data-year">2016</div>
                           </div>
                           <div class="news-calendar-item-2">
                               <div class="news-calendar-title-text">FugQui In Ea Voluptate</div>
                               <div class="news-calendar-text-content">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</div>
                           </div>
                        </div>
                       <div class="news-latest-blok-calendar news-latest-blok-calendar-3">
                           <div class="news-calendar-item-1">
                               <div class="news-data news-data-day">20</div>
                               <div class="news-data news-data-month">June</div>
                               <div class="news-data news-data-year">2016</div>
                           </div>
                           <div class="news-calendar-item-2">
                               <div class="news-calendar-title-text">Autem Vel Eum Iure</div>
                               <div class="news-calendar-text-content">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</div>
                           </div>
                        </div>
                    </div>
               </div>
                <div class="news-featured-blok">
                    <div class="news-featured-title">
                        <div class="news-featured-title-text">Featured Events</div>
                        <div class="news-featured-title-arr"><i class="fa featured-fa-angle-left fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa featured-fa-angle-right fa-angle-right" aria-hidden="true"></i></div>
                    </div>
                    <div class="news-featured-img">
                        <img src="img/featured-img-1.jpg" alt="" class="news-featured-img-1">
                        <img src="img/featured-img-2.jpg" alt="" class="news-featured-img-2">
                        <img src="img/featured-img-3.jpg" alt="" class="news-featured-img-3">
                    </div>
                    <div class="news-featured-assumenda-minus">
                        <div class="news-featured-assumenda news-featured-assumenda-1">− Assumenda Est Cliche Reprehenderit</div>
                        <div class="news-featured-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                    <div class="news-featured-assumenda news-featured-assumenda-2">+ Assumenda Est Cliche Reprehenderit</div>
                    <div class="news-featured-assumenda news-featured-assumenda-3">+ Assumenda Est Cliche Reprehenderit</div>
                    <div class="news-featured-assumenda news-featured-assumenda-4">+ Assumenda Est Cliche Reprehenderit</div>
                </div>    
            </div>
        </div>
        <div class="arr-news-follow">
            <a class="arr-news-follow-link" href="#"><img src="img/arrow-red.png" alt="arr-up"></a>
        </div>
    </div>
    
    <div class="container">
        <div class="team">
            <div class="team-title">Our Team</div>
            <div class="team-flex">
                <div class="team-flex-card">
                    <img src="img/team-mary.jpg" alt="name_worker" class="team-flex-card-img">
                    <div class="team-flex-card-title">Mary Jane</div>
                    <div class="team-flex-card-post">Vestibulum</div>
                    <div class="team-flex-card-social">
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-flex-card">
                    <img src="img/team-peter.jpg" alt="name_worker" class="team-flex-card-img">
                    <div class="team-flex-card-title">Peter Parker</div>
                    <div class="team-flex-card-post">Ves tibulum</div>
                    <div class="team-flex-card-social">
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-flex-card">
                    <img src="img/team-johan.jpg" alt="name_worker" class="team-flex-card-img">
                    <div class="team-flex-card-title">John Watson</div>
                    <div class="team-flex-card-post">Vestibulum</div>
                    <div class="team-flex-card-social">
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="team-flex-card">
                    <img src="img/team-steven.jpg" alt="name_worker" class="team-flex-card-img">
                    <div class="team-flex-card-title">Steven Wilson</div>
                    <div class="team-flex-card-post">Vestibulum</div>
                    <div class="team-flex-card-social">
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        <a class="team-flex-card-social-link" href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="subscribe">
            <div class="subscribe-title">Subscribe with Us</div>
            <div class="subscribe-flex">
                <input class="subscribe-input" type="email" placeholder="Email">
                <a class="subscribe-button" href="#">Subscribe</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="contact-us">
            <div class="contact-us-title">Contact Us</div>
            <div class="contact-us-flex">
                <div class="contact-us-flex-text">
                    <div class="contact-us-flex-text-title">Get in touch with us</div>
                    <div class="contact-us-flex-text-cont">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed do, At vero eos et accusamus et iusto odio digs qui blanditiis</div>
                    <div class="contact-us-flex-text-addr">Leningradsky AVE 39, BLDG 79 MOSCOW 125167, Russia</div>
                    <div class="contact-us-flex-text-tel">Telephone : +00 111 222 3333</div>
                    <div class="contact-us-flex-text-fax">FAX : +1 888 888 4444</div>
                    <div class="contact-us-flex-text-email">Email : <span class="contact-us-flex-text-email-span">mail@example.com</span></div>
                </div>
                <div class="contact-us-flex-form">
                    <form class="contact-us-flex-form-panel" action="#">
                        <input class="contact-us-flex-form-item" type="text" placeholder="Name">
                        <input class="contact-us-flex-form-item" type="email" placeholder="Email">
                        <textarea class="contact-us-flex-form-item contact-us-flex-form-textarea" name="contact-us-message" id="contact-us-message-id" cols="30" rows="10" placeholder="Message"></textarea>
                        <a class="contact-us-form-button" href="#">Submit</a>
                    </form>
                </div>
            </div>
            <div class="contact-us-map-title">Route Map</div>
            <div class="contact-us-map">
                <iframe src="https://yandex.ru/map-widget/v1/-/CGdsEZMx" width="1169" height="298" style="border : 0" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div> 
        <div class="arr-contact-us-follow">
            <a class="arr-contact-us-follow-link" href="#"><img src="img/arrow-red.png" alt="arr-up"></a>
        </div>
    </div>
    
    <div class="container">
        <div class="footer">
            <p class="footer-text">© 2020 Исторические Игры. Все права защищены</p>
        </div>
    </div>    
</body>
</html>