{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/style_second.css' %}">
{% endblock %}

{% block container %}
    <div class="container">
        <div class="product">
            <div class="product-img">
                <img class="product-img-big" src="/static/img/assasin-product-big.jpg" alt="">
                <div class="product-gallery">
                    <a href="#">
                        <img src="/static/img/assasin-small-1.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/img/assasin-small-2.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/img/assasin-small-3.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="/static/img/assasin-small-4.jpg" alt="">
                    </a>
                </div>   
            </div>
            <div class="product-text">
                <div class="product-text-title-price">
                    <div class="product-text-title-block">
                        <span class="product-text-title-top">Assasin’s Creed:</span>
                        <span class="product-text-title-bottom">Rogue</span>
                        <span class="product-text-price">$29.99</span>
                    </div>
                    <a class= "buttom-gallery-buy product-text-buy" href="#">Buy</a>
                    <span class="product-text-dsc">The plot is set in a fictional history of real world events and follows the centuries-old struggle between the Assassins, who fight for peace with free will, and the Templars, who desire peace through control. The story is set in the mid-18th century during the Seven Years' War, and follows Shay Patrick Cormac, an Assassin-turned-Templar who hunts down former members of his Brotherhood after being betrayed by them. Gameplay in Rogue is very similar to that of Black Flag with a mixture of ship-based naval exploration and third-person land-based exploration with some new features.</span>
                </div>  
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="gallery gallery-main gallery-main-similar">
            <h2 class="gallery-text gallery-text-similar">Similar games</h2>
            {% include 'includes/inc__product_item.html' %}
        </div>
    </div>
{% endblock %}