{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/style_second.css' %}">
{% endblock %}

{% block container %}
   
    <div class="container">
        <div class="gallery">
            <h2 class="gallery-text">Our Gallery</h2>
            <div class="flex-gallery-row">
                <div class="flex-gallery-item">
                    <img src="{% static 'img/battlefield-game.jpg' %}" alt="" class="flex-gallery-img gallery-activ">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">BATTLEFIELD 1</p>
                       <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="{% static 'img/star-wars-game.jpg' %}" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">STAR WARS:<br>Battlefront II</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="{% static 'img/battlefield4-game.jpg' %}" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">BATTLEFIELD 4</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="{% static 'img/world-tanks-game.jpg' %}" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                        <p class="gallery-titel-bay">WORLD OF TANKS</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>

                <div class="flex-gallery-item">
                    <img src="{% static 'img/assassin-game.jpg' %}" alt="" class="flex-gallery-img gallery-activ">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">ASSASIN’S CREED: Rogue</p>
                       <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="{% static 'img/for-honor-game.jpg' %}" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">FOR HONOR</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="{% static 'img/world-warships-game.jpg' %}" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                       <p class="gallery-titel-bay">WORLD OF WARSHIPS</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
                <div class="flex-gallery-item">
                    <img src="{% static 'img/call-duty-game.jpg' %}" alt="" class="flex-gallery-img">
                    <div class="gallery-item-bay">
                        <p class="gallery-titel-bay">CALL OF DUTY:<br>Infinite Warface</p>
                        <a class= "buttom-gallery-bay" href="#">Bay</a>
                    </div>
                </div>
            </div>

            <div class="gallery-buttom">
                <a href="#" class="gallery-buttom__link">
                    <span>Show more games</span>
                    <div class="gallery-arr"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </a> 
            </div>

        </div>
    </div>
    
    <div class="container">
        <div class="discount">
            <div class="discount-item">
                <div class="discount-item-text">
                    <p class="discount-dsc">discount</p>
                    <p class="discount-name">CALL OF DUTY:<br> Modern Warfare 3</p>
                    <p class="discount-price-dsc">$14.44
                        <span class="discount-price"> / <span> $28.90</span></span>
                    </p>
                    <a class= "buttom-gallery-bay discount-bay" href="#">Bay</a>
                </div>
                <img class="discount-img" src="{% static 'img/call-duty-big.jpg' %}" alt="">
            </div>
            <div class="discount-item">
                <div class="discount-item-text">
                    <p class="discount-dsc">discount</p>
                    <p class="discount-name">MEDAL OF HONOR</p>
                    <p class="discount-price-dsc">$15.96
                        <span class="discount-price"> / <span> $29.99</span></span>
                    </p>
                    <a class= "buttom-gallery-bay discount-bay" href="#">Bay</a>
                </div>
                <img class="discount-img" src="{% static 'img/honner-big.jpg' %}" alt="">
            </div>
        </div>
    </div>

{% endblock %}

