{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/style_second.css' %}">
{% endblock %}

{% block container %}
   
    <div class="container">
        <div class="gallery gallery-products">
            <h2 class="gallery-text">Our Gallery</h2>

            <div class="product-category-menu">
                <a class="{% if request.resolver_match.kwargs.pk == 0 %}menu-list-active{% endif %} product-category-menu-item" href="{% url 'products:category' pk=0 %}">all</a>
                {% for item in category %}
                    <a class="{% if request.resolver_match.kwargs.pk == item.pk %}menu-list-active{% endif %} product-category-menu-item" href="{% url 'products:category' item.pk %}">{{ item.name }}</a>
                {% endfor %}
            </div>

            <div class="flex-gallery-row">
            {% for item in products_list %}
                <div class="flex-gallery-item">
                    <img src="{{ mediaURL }}{{ item.image }}" alt="{{ item.alt }}" class="flex-gallery-img gallery-activ">
                    <div class="gallery-item-buy">
                       <p class="gallery-titel-buy">{{ item.name }}</p>
                       <a class= "buttom-gallery-buy" href="#">Buy</a>
                    </div>
                </div>
            {% endfor %}  
            </div>

            <div class="gallery-buttom">
                <a href="#" class="gallery-buttom__link">
                    <span>Show more games</span>
                    <div class="gallery-arr"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </a> 
            </div>

        </div>
    </div>
    
    <div class="container">
        <div class="discount">
            <div class="discount-item">
                <div class="discount-item-text">
                    <p class="discount-dsc">discount</p>
                    <p class="discount-name">CALL OF DUTY:<br> Modern Warfare 3</p>
                    <p class="discount-price-dsc">$14.44
                        <span class="discount-price"> / <span> $28.90</span></span>
                    </p>
                    <a class= "buttom-gallery-buy discount-buy" href="#">Buy</a>
                </div>
                <img class="discount-img" src="{% static 'img/call-duty-big.jpg' %}" alt="">
            </div>
            <div class="discount-item">
                <div class="discount-item-text">
                    <p class="discount-dsc">discount</p>
                    <p class="discount-name">MEDAL OF HONOR</p>
                    <p class="discount-price-dsc">$15.96
                        <span class="discount-price"> / <span> $29.99</span></span>
                    </p>
                    <a class= "buttom-gallery-buy discount-buy" href="#">Buy</a>
                </div>
                <img class="discount-img" src="{% static 'img/honner-big.jpg' %}" alt="">
            </div>
        </div>
    </div>

{% endblock %}

