{% extends 'adminapp/index.html' %}
{% load static %}

{% block contentList %}
    <div class="create-btn">
        <a href="#" class="admin-create-btn">+ add product</a>
    </div>
    {% for item in product_list %}
        <div class="admin-user-item {% if not item.is_active %}no-active{% endif %}">
            <img src="{{ mediaURL }}{{ item.image|default:'no-image.jpg' }}" alt="{{ item.name }}">
            <div class="admin-product-name"><b>{{ item.name|title }}</b></div>
            <div>{{ item.category }}</div>
            <div><b>{{ item.price }} $</b></div>
            <div>qty: {{ item.quantity }}</div>
            <div>dsc: {{ item.discount }} %</div>
            <div class="admin-item-btn">
                <a href="#" class="btn-edit admin-btn-hover">edit</a>
                <a href="#" class="btn-dell admin-btn-hover">{% if item.is_active %}dell{% else %}recover{% endif %}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}