{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/style_reg.css' %}">
{% endblock %}

{% block js %}
{% endblock %}

{% block auth %}
{% endblock %}

{% block header %}
        <ul class="info">
            <li class="info-list logo"><a href="{% url 'main' %}" class="logo-link"><span class="historical">Store</span><br><span class="games">GAMES</span></a></li>
            <li class="info-list contact"><i class="fa fa-mobile" aria-hidden="true"></i><div class="tel">+123 456 7890</div><a class="mail" href="#">info@example.com</a></li>
        </ul>
{% endblock %}

{% block container %}
    <div class="reg-block">
        <h2>{{ page_title|upper }}</h2>
        <form class="form-reg" action="{% url 'auth:chpassword' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-reg-btn" type="submit" value="save">
        </form>
        <div class="edit-home">
            <a href="{% url 'main' %}" class="edit-home-btn">HOME</a>
        </div>
    </div>
{% endblock %}

{% block contact %}
{% endblock %}