.reg-block{
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form-reg {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 35%;
  }
.form-reg-item{
    width: 55%;
    height: 55px;
    border: 1px solid #999999;
    color: #838383;
    font-family: Roboto Condensed;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
label{
    color: #838383;
    font-family: Roboto Condensed;
    font-size: 1.3em;
    font-weight: 400;
}
input:active {
    border: none;
    outline: none;
}
form p{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.form-reg-btn{
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    background: none;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-top: 5%;
    color: #3a3535;
    font-family: Roboto Condensed;
    text-transform: uppercase;
    font-size: 1.3em;
}
.form-reg-btn:hover{
    color: red;
    border-color: red;
    cursor: pointer;
}
.errorlist{
    font-family: Roboto Condensed;
    list-style: none;
    color: red;
    font-size: 1.2em;
}
.form-reg-item input.upload{
    cursor: pointer;
}
#id_avatar{
    border: none;
}
.img-avatar{
    width: 10%;
    position: absolute;
    left: 75%;
    top: 50%;
}
.edit-home{
    margin-top: 2%;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.5% 0;
    width: 7%;
    display: flex;
    justify-content: center;
}
.edit-home-btn{
    text-decoration: none;
    color: red;
    font-size: 2em;
}
.edit-home:hover > a,
.edit-home:hover{
    color: #838383;
    border-color: #838383;
    cursor: pointer;
}